/*TAGS STYLING*/
body {
  background-color: #a7d7c5;
  text-align: center;
  margin: auto;
  padding: 0;
}

h1 {
  font-family: 'Crafty Girls', cursive;
}

h2 {
  font-family: 'Josefin Slab', serif;
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-family: 'Saira Condensed', sans-serif;
}

h4 {
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  font-size: 18px;
}

/*CLASSES AND ID STYLING*/
.header {
  background-color: #74b49b;
  border-style: groove;
}

.triangle-tracker {
  position: relative;
  background-color: #cdffeb;
  padding-bottom: 30px;
  padding-top: 5px;
  margin-top: 2px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 7%;
  border-style: inset;
}

.side1 {
  padding-left: 30px;
  width: 30px;
  height: 40px;
}

.side2 {
  padding-left: 20px;
  width: 30px;
  height: 40px;
  text-align: left;
}

.side3 {
  padding-left: 20px;
  width: 30px;
  height: 40px;
  font-size: 30px;
}

.submit {
  background-color: #005792;
  border-radius: 10%;
  color: #c5c5c5;
  border-style: inset;
  height: 50px;
  width: 70px;
  padding-left: 20px;
}

.submit:hover {
  background-color: #3e8e41;
  text-transform: capitalize;
}

.reset:hover {
  background-color: #c82121;
  text-transform: capitalize;
}

.reset {
  background-color: #005792;
  border-radius: 10%;
  color: #c5c5c5;
  border-style: inset;
  height: 50px;
  width: 70px;
}
