/*TAGS STYLING*/
body {
  background-color: #a7d7c5;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Gloria Hallelujah', cursive;
}

h2 {
  font-family: 'Paytone One', sans-serif;
  text-decoration: underline;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-family: 'Syncopate', sans-serif;
}

h4 {
  font-family: 'Bad Script', cursive;
  font-weight: lighter;
  font-size: 18px;
}

/*CLASSES AND ID STYLING*/
.triangle-tracker {
  position: relative;
  background-color: #cdffeb;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 2px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 7%;
  border-style: inset;
}

.triangle3 {
  opacity: 0.3;
  width: 220px;
  height: 220px;
  float: left;
  margin-left: 60px;
  margin-top: 60px;
  transform: rotate(45deg);
}

.triangle1 {
  opacity: 0.9;
  width: 220px;
  height: 320px;
  float: right;
  margin-left: 60px;
  margin-top: 60px;
  margin-right: 50px;
  transform: rotate(270deg);
}
.triangle2 {
  opacity: 0.1;
  margin-left: 0;
  margin-bottom: 0;
  width: 1000px;
  height: 1000px;
  float: right;
  position: absolute;
  margin-top: 0;

}

.side1 {
  padding-left: 30px;
  width: 30px;
  height: 40px;
}

.side2 {
  padding-left: 30px;
  width: 30px;
  height: 40px;
}

.side3 {
  padding-left: 30px;
  width: 30px;
  height: 40px;
}

.submit {
  background-color: #005792;
  border-radius: 10%;
  color: #c5c5c5;
  border-style: inset;
  height: 50px;
  width: 70px;
  padding-left: 20px;
}

.submit:hover {
  background-color: #3e8e41;
  text-transform: capitalize;
}

.reset:hover {
  background-color: #c82121;
  text-transform: capitalize;
}

.reset {
  background-color: #005792;
  border-radius: 10%;
  color: #c5c5c5;
  border-style: inset;
  height: 50px;
  width: 70px;
}
