body {
  background-color: #fed9ca;
  text-align: center;
}

.submit {
  width: 60px;
  background-color: #0a516d;
}

.form-buttons {
  display: block;
}

.triangle-sides {
  display: block;
}
.triangle-calc {
  background-color: #ffefe0;
  padding: 30px;
  width: 50%;
  margin-top: 100px;
  margin-left: 300px;
  line-height: 3;
  border-radius: 15%;
  border-style: groove;
}
img {
  width: 150px;
  height: 150px;
}
.sideA{
  height: 20px;
}
